* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

body {
  background-color: #ffad60;
}
.todo-app {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  min-height: 600px;
  background: #ffeead;
  text-align: center;
  margin: 128px auto;
  margin-top: 4.5rem;
  border-radius: 10px;
  padding-bottom: 32px;
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
  color: rgb(15, 14, 12);
}

.complete {
  text-decoration: line-through;
  text-decoration-color: #411500;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  font-size: medium;
  color: #411a02;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #d9534f;
  outline: none;
  width: 60%;
  margin-bottom: 1.5rem;
}

.todo-button {
  font-size: medium;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #d9534f;
  color: white;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  color: #fffaf7;
  background-color: #ff824c;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.partie2 {
  display: contents;
  border-radius: 4rem;
}
.seperator {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: black;
}
